*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
  width: 100%;
  font-family: helvetica, sans-serif;
}

main{
  height: 100%;
  width: 100%;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.839),rgb(0, 0, 0) ,rgba(0, 0, 0, 0.812));
  padding: 30px 20px;


  section{
    height: 100%;
    width: 550px;
    margin: auto;
    border-radius: 20px;


    .all-reels{
      height: 100%;
      width: 100%;
      border-radius: 20px;
      overflow: auto;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }
      .reels{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        margin-bottom: 40px;
        scroll-snap-align: start;
        scroll-snap-stop: always;

        .right{
          right: 0;
          position: absolute;
          width: 40px;
          bottom: 150px;
          color: aliceblue;
          font-size: 23px;
          font-weight: 500;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 15px;
          cursor: pointer;

          .count{
            font-size: 15px;
          }
          
        }


        video{
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          object-fit: cover;
        }

        .bottom{
          width: 100%;
          padding: 30px 20px;
          background:linear-gradient(transparent,black);
          position: absolute;
          bottom: 0;
          border-radius: 20px;

          

          h3{
              color: white;
              font-size: 18px;
              font-weight: 500;

            }
          
          .user{

            display: flex;
            align-items: center;            
            gap: 20px;
            margin-bottom: 20px;
            img{
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 50%;
            }
            button{
              padding: 10px 20px;
              font-size: 15px;
              background-color: transparent;
              border: 3px solid white;
              color: white;


          &:hover{
            background-color: white;
            color: black;
            transition: 0.3s;
          }
            }
            
            h4{
              font-size: 15px;
              font-weight: 400;
              color: white;
              margin-left: 10px;}
            

          }
        }
      }
    }
  }
}